{% extends 'admin/index.html.twig' %}

{% block title %}Index des Produits{% endblock %}

{% block body %}
    <h1>Edit Livraison</h1>

    {{ include('livraison/_formb.html.twig', {'button_label': 'Update'}) }}

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
