{% extends 'client/index.html.twig' %}

{% block title %}Index des Produits{% endblock %}

{% block body %}
    <h1>Commander un produit</h1>

    {{ include('livraison/_form.html.twig') }}

{% endblock %}
