{% extends 'client/index.html.twig' %}

{% block title %}New Programme{% endblock %}

{% block body %}
    <h1>Create new Program</h1>

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }} " class="btn btn-primary">back to list</a>
{% endblock %}
